:root {
  --blue-background: #dbeafe;
  --avatar-background: #9ca3af;
  --avatar-border: 0 0 0 4px white;
  --text-gray-1: #1f2937;
  --text-gray-2: #6b7280;
  --text-blue-1: #3b82f6;
  --card-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

body {
  height: 100vh;
  background: var(--blue-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave {
  position: fixed;
  bottom: 0;
  width: 100%;
}

article {
  background: white;
  border-radius: 0.5rem;
  padding: 1.25rem;
  max-width: 42rem;
  z-index: 10;
  margin: 0px 0.75rem;
  box-shadow: var(--card-shadow);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-container {
  overflow: hidden;
  height: 8rem;
  border-radius: 0.5rem;
}

.background-cover {
  width: 100%;
}

.avatar {
  margin-top: -4.5rem;
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  background: var(--avatar-background);
  box-shadow: var(--avatar-border);
}

.info-wrapper {
  padding: 0px 0.75rem;
  margin-top: 0.75rem;
}

.info {
  text-align: center;
}

.info h1 {
  line-height: 1;
  font-weight: 500;
  font-size: 24px;
  color: var(--text-gray-1);
}

.info p {
  color: var(--text-gray-2);
}

.info p:nth-of-type(2) {
  margin-top: 1rem;
}

.info a {
  font-size: 14px;
  color: var(--text-blue-1);
}

.introduction {
  margin-top: 1.5rem;
  font-size: 18px;
  color: var(--text-gray-2);
}

/* Responsive */
@media (min-width: 768px) {
  .header {
    align-items: flex-start;
  }

  .avatar {
    margin-left: 1.5rem;
  }

  .info-wrapper {
    display: flex;
  }

  .info {
    text-align: left;
    margin-right: 2.5rem;
  }

  .introduction {
    margin-top: 0px;
  }
}
